<%- include("partials/header"); -%>

<header class="header">
  <h1 class="header__heading heading--primary">
    Professional Dog Walker Service; <br />
    Walking in the Heart of Wiltshire
  </h1>
</header>

<%-include("partials/section-about"); -%>

<%-include("partials/divider"); -%>

<%-include("partials/section-services"); -%>

<%-include("partials/divider"); -%>

<%-include("partials/section-slideshow"); -%>

<%-include("partials/divider"); -%>

<section class="section-guidelines">
  <div class="affiliate">
    <img src="img/dogstrust.png" alt="dogstrust logo">
  </div>
  <div class="guidelines">
    <h3>Proudly supporting RSPCA Professional
      Dog Walker Guidelines</h3>
    <a href="https://www.dogstrust.org.uk/news-events/news/dog%20walking%20guide%20online.pdf"
      class="btn btn--secondary" target="_blank">More Info</a>
  </div>
  <div class="affiliate">
    <img src="img/rspca.png" alt="rspca logo">
  </div>

</section>

<%- include("partials/footer"); -%>