<%- include("partials/header"); -%>

<header class="header">
  <h1 class="header__heading heading--primary">
    Professional Dog Walker Service; <br />
    Walking in the Heart of Wiltshire
  </h1>
</header>

<%-include("partials/section-about"); -%>

<%-include("partials/divider"); -%>

<%-include("partials/section-services"); -%>

<%-include("partials/divider"); -%>

<section class="section-slideshow">

  <h2 class="slideshow__heading">Owner & Doggy Reviews</h2>

  <div class="slideshow__container">

    <div class="slideshow__slide slide__1">
      <div class="review">
        <div class="review__header">
          <p class="review__title">Steve - 2020</p>
          <img src="img/stars.png" alt="5 Stars" class="review__stars">
        </div>
        <p class="review__text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
          invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
          dolores et ea rebum. Stet clita kasd gubergren.</p>
      </div>
      <div class="review">
        <div class="review__header">
          <p class="review__title">Steve - 2020</p>
          <img src="img/stars.png" alt="5 Stars" class="review__stars">
        </div>
        <p class="review__text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
          invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
          dolores et ea rebum. Stet clita kasd gubergren.</p>
      </div>
      <div class="review">
        <div class="review__header">
          <p class="review__title">Steve - 2020</p>
          <img src="img/stars.png" alt="5 Stars" class="review__stars">
        </div>
        <p class="review__text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
          invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
          dolores et ea rebum. Stet clita kasd gubergren.</p>
      </div>
    </div>

  </div>

</section>

<%-include("partials/divider"); -%>

<section class="section-guidelines">
  <div>
    <h3>Proudly supporting RSPCA Professional
      Dog Walker Guidelines</h3>
    <a href="" class="btn btn--secondary">More Info</a>
  </div>
  <img src="" alt="">
</section>

<%- include("partials/footer"); -%>