<%- include("partials/header"); -%>

<header class="header">
  <h1 class="header__heading heading--primary">
    Professional Dog Walker Service; <br />
    Walking in the Heart of Wiltshire
  </h1>
</header>

<%-include("partials/section-about"); -%>

<%-include("partials/section-services"); -%>

<%-include("partials/divider"); -%>

<section class="section-slideshow">

  <h2 class="heading--secondary">Owner & Doggy Reviews</h2>

  <div class="slideshow__container">

  </div>

</section>

<%-include("partials/divider"); -%>

<%- include("partials/footer"); -%>